.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}
.add-task-wrapper {
  text-align: left; /* Align content to the left */
  margin-bottom: 16px; /* Add some spacing below the button */
}

.add-task-button {
  display: inline-block; /* Ensure the button doesn't take up full width */
}
.form-card {
  max-width: 80vw;
  margin: 0 auto;
  padding: 16px;
}

.add-task-form {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.new-task-field {
  flex: 1;
  margin-right: 8px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-checkbox {
  margin-right: 16px;
}
