.container {
  max-width: 800px;
  margin: 20px auto;
}

.spacer {
  flex: 1 1 auto;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-details {
  flex: 1;
  margin-left: 10px;
}

mat-list-item {
  display: flex;
  align-items: center;
}

  mat-list-item.completed h3 {
    text-decoration: line-through;
    color: gray;
  }

  mat-list-item mat-checkbox {
    margin-right: 10px;
  }
